<header class="mainHead">
  <nav class="topNav">
    <h4 class="topNav__header">Lawrence Berkeley National Laboratory</h4>
    <a href="#">Login</a>
    <a href="#">Contact Us</a>
  </nav>

  <nav class="mainNavContainer">
    <div class="logo">
        <h1><a href="/" class="logo__brand" id="brand">BCSB<a></h1>
    </div>
    <ul class="mainNav">
      {% for item in menus.primary.get_items %}
        {% if item.get_children %}
          <li class="mainNav__linkGroup">
            <a href="{{item.url}}" class="mainNav__link--dropdown">
              {{item.title}} <i class="icon-double-angle-down"></i>
            </a>
            <ul class="subNav">
              {% for child in item.get_children %}
                <li class="subNav__link"><a href="{{child.url}}">{{child.title}}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mainNav__linkGroup">
            <a href="{{item.url}}" class="mainNav__link">
              {{item.title}}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>